h1{
    padding-top:75px ;
    font-family: sans-serif;
    color: grey;
}
.jumbotron{
    background-image: url(https://source.unsplash.com/pWkk7iiCoDM/4000x3000);
   height: 400px;
   color: grey;
}
.quizheader{
    text-align: center;
    color: rgb(4, 213, 228)
}
.quiz{
    color: rgb(166, 26, 231);
}